.teams {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 2rem;
}
.team {
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 2px;
  height: 15rem;
  align-items: center;

  img {
    width: 100%;
  }
}
